@use "../styles/variable.module.scss" as vars;

.container {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-family: vars.$font-primary;
  font-weight: 400;
  font-style: italic;
  font-size: 50px;
  color: vars.$color-primary;
  line-height: 1.2;
  max-width: 1600px;
  margin: 0 auto;
}

.Logo {
  width: 1600px;
  margin-bottom: 30px;
  border-radius: 50px;
}

main {
  width: 1600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 500px;
  height: 500px;
}

.card {
  background: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: vars.$box-shadow;
  transition: all 0.3s ease;
  text-decoration: none;
  color: vars.$color-primary;

  &:hover {
    transform: translateY(-5px);
    box-shadow: vars.$box-shadow;
  }

  .cardImage {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-bottom: vars.$box-shadow;
  }

  p {
    font-family: vars.$font-primary;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    color: vars.$color-primary;
    text-align: center;
    padding: 20px;
    background: vars.$color-violet;
  }
}
