$font-primary: "Savate", sans-serif;
$font-secondary: "Savate", sans-serif;
$color-primary: #2c3e50;
$color-secondary: #3498db;
$color-light: #ecf0f1;
$color-violet: #f8c9e328;
$box-shadow: 0 4px 12px rgba(112, 19, 77, 0.911);
