html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;
  font-family: "Roboto", sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*----------------------------project-------------------------------*/

@font-face {
  font-family: "Savate";
  src: url("../assets/fonts/Savate-Regular.woff2") format("woff2"),
    url("../assets/fonts/Savate-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Savate";
  src: url("../assets/fonts/Savate-Light.woff2") format("woff2"),
    url("../assets/fonts/Savate-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
