@font-face {
  font-family: "Savate";
  src: url("../assets/fonts/Savate-Regular.woff2") format("woff2"),
    url("../assets/fonts/Savate-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Savate";
  src: url("../assets/fonts/Savate-Light.woff2") format("woff2"),
    url("../assets/fonts/Savate-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
